* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    box-sizing: border-box;
    font-family: sans-serif;
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --card-bg-color: #fff6;
    --card-color: #fff;
    --dark-color: #f62;
    --text-color: #444;
}

body,div,ul,li,a,h1,h2,h3,h4,p {
    margin: 0;
    padding: 0;
}

/* --- CARD STYLES --- */

.card {
    max-width: clamp(160px, 50%, 320px);
    background-color: transparent;
    margin: 50px auto; 
    position: relative;
}

.card__back, .card__front {
    backface-visibility: hidden;
    transition: transform 1s ;
    background-color: var(--card-color);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px #0007;
}

.card:hover .card__front {
    transform: perspective(1200px) rotateY(180deg);
}

.card:hover .card__back {
    transform: perspective(1200px) rotateY(360deg);
}

.card__front {
    transform: perspective(1200px) rotateY(0deg);
}

.card__back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    transform: perspective(900px) rotateY(180deg);
}

.card__worker {
    max-height: 250px;
    overflow: hidden;
    display: block;
}

.card__worker img {
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.card__data {
    padding: 12px;
}

/* --- TITLES STYLES --- */

.name {
    font-size: 1.5rem;
    margin: 6px 0;
    display: block;
    color: var(--text-color);
    font-weight: 700;
}

.profession__1, .profession__2, .profession__3 {
    font-size: .8rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 2px;
}

.title__2 {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
}

/* --- PROFESSION ANIMATIONS --- */

.profession__1 {
    animation: fade-in 3.5s both;
}

.profession__2 {
    animation: fade-in 4s both;
}

.profession__3 {
    animation: fade-in 4.5s both;
}

/* --- KEYFRAMES --- */

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes bar-grow-1 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes bar-grow-2 {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes bar-grow-3 {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes bar-grow-4 {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes bar-grow-5 {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

/* --- SKILLS STYLES --- */

.skill__bar {
    border: 2px solid var(--dark-color);
    margin: 13px;
    padding: 3px;
    border-radius: 20px;
}

.skill__bar div {
    background-color: var(--dark-color);
    padding: 10px;
    color: var(--card-color);
    border-radius: 15px;
}

.skill__bar:last-child div {
    width: 90%;
}

.skill__bar:nth-child(2) div {
    width: 90%;
}

.skill__bar:nth-child(3) div {
    width: 60%;
}

.skill__bar:nth-child(4) div {
    width: 30%;
}

.skill__bar:nth-child(5) div {
    width: 50%;
}

/* ---SKILL BAR GROW */

.skill__bar:last-child div {
    animation: bar-grow-1 5s both;
}

.skill__bar:nth-child(2) div {
    animation: bar-grow-2 5s both;
}

.skill__bar:nth-child(3) div {
    animation: bar-grow-3 5s both;
}

.skill__bar:nth-child(4) div {
    animation: bar-grow-4 5s both;
}

.skill__bar:nth-child(5) div {
    animation: bar-grow-5 5s both;
}